* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*Header and navigation styles and layout*/
header nav {
    height: 80px;
    background: #E5E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header li a:hover{
    color:aliceblue;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

header nav li a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.title-aspiration {
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

/*Two Column-Row1 Layout*/

/* Two Column Flex Container Class, styles and layout*/
.flex-two-column {
    display: flex; /*Converts the container into a flex container */
    margin: 30px;
    max-width: 100%;
    margin-left: 30px;
    padding: 0;
}
/*The two column-row3's flex container is included here also because I want it to be the same layout as row1*/

.column-two2 {
    width: 50%;
    margin-right: 130px;
}

.column-two2 h1{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.column-two2 p{
    margin-top: 30px;
    font-size: 1.2em;
}

hr.line{
    border: 1px solid black;
}

.column-one2 {
    width: 50%;
    margin: 20px;
}

.column-one2 figure{
    width: 60%;
    margin-left: 170px;
}


/*Two Column-Row2 Layout*/

/* Two Column Flex Container Class, styles and layout*/
.flex-two-column2 {
    display: flex; /*Converts the container into a flex container */
    margin: 30px;
    max-width: 100%;
    margin-left: 30px;
    padding: 0;
}

.column-one3 {
    width: 50%;
    margin-left: 130px;
}

.column-one3 h1{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.column-one3 p{
    margin-top: 30px;
    font-size: 1.2em;
}

hr.line{
    border: 1px solid black;
}

.column-two3 {
    width: 50%;
    margin: 20px;
}

.column-two3 figure{
    width: 70%;
    margin-left: 80px;
}


/*Two Column-Row3 Layout*/

/* Two Column Flex Container Class, styles and layout*/
.column-two4 {
    width: 50%;
    margin-right: 130px;
}

.column-two4 h1{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.column-two4 p{
    margin-top: 30px;
    font-size: 1.2em;
}

hr.line{
    border: 1px solid black;
}

.column-one4 {
    width: 50%;
    margin: 20px;
}

.column-one4 figure{
    width: 60%;
    margin-left: 160px;
}

/*Footer Styles and Layouts*/
.footer-text {
    text-align: center;
    width :100%;
    clear: left;
    margin-top: 80px;
    padding: 20px;
}

.footer-text p {
    font: normal small-caps bold 0.9em/3em
    Quicksand, Verdana, Geneva, sans-serif;
}